<div id="<%= dom_id i_inspecao %>">
  <p>
    <strong>Nome:</strong>
    <%= i_inspecao.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= i_inspecao.descricao %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= i_inspecao.tipo %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= i_inspecao.status %>
  </p>

</div>
